

.wrapper{
    height: 100vh;
}
.f-img{
    display: none;
}
.bdr{
    border: 1px solid #000;
}
.wrapper .first{
    padding: 1rem;
}
.second{
    padding: 2rem;
    padding-top: 0;
    overflow-x: hidden;
}
@media screen and (min-width: 728px) {
    .wrapper{
        display: flex;
        height: auto;
    }
    .wrapper .first{
        background: hsl(229, 24%, 87%);
        padding: 0rem;
        overflow-y: hidden;
    }
    .first .logo{
        padding-left: 3rem;
        padding-top: 1rem;
    }
    .f-img{
        display: flex;
        width: 100%;
    }
    .f-img img{
        width: 100%;
    }
    .first, .second{
        width: 50%;
    }
    .second{
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media screen and (min-width: 998px) {
    .second{
        padding: 4rem 6rem 4rem 6rem;
    }
}